Repository ant-design/ant-design-charts, pull requests merged in 2025-08, with the labels that each got.

#3029 fix: chart render abnormal due to the scale
  packages/plots/src/util/scale.ts
  packages/plots/tests/util/scale-spec.tsx
Labels: feature 💡, plots, size:M

#3031 chore: change log
  packages/plots/CHANGELOG.md
  packages/plots/package.json
  site/package.json
Labels: dependencies, documentation 📖, size:S

#3033 docs: update documentation
  site/docs/components/plots/bar.zh.md
  site/docs/components/plots/column.zh.md
Labels: documentation 📖, size:S

#3045 fix(graphs): 优化 CollapseExpandReactNode 中节点处理逻辑，移除不必要的节点查找
  packages/graphs/src/core/transform/collapse-expand-react-node.tsx
  site/examples/relations/flow-direction-graph/demo/custom.js
  site/examples/relations/organization-chart/demo/complex-node.js
  site/examples/relations/organization-chart/demo/horizontal.js
Labels: graphs, size:S

#3047 chore: update version
  packages/charts/CHANGELOG.md
  packages/charts/package.json
  packages/graphs/CHANGELOG.md
  packages/graphs/package.json
Labels: dependencies, documentation 📖, size:M, lgtm

#3048 fix: Dendrogram 图标 labelField 功能实现
  packages/graphs/src/components/dendrogram/index.tsx
  packages/graphs/src/components/dendrogram/options.tsx
  packages/graphs/src/components/dendrogram/types.ts
Labels: graphs, size:S

#3051 fix(annotation): adjust center calculation for conversion tag layout
  packages/plots/src/core/annotation/conversion-tag.ts
Labels: plots, size:XS, lgtm
